.splash-loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .splash-loader {
        width: 100px;
        aspect-ratio: 1;
        background-color: $color-red;
        border-radius: 50%;
        animation: splashLoader 1.5s ease-in-out infinite;
    }
}